@import '../../styles/common';

.filter__modal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(auto, auto);

  &__show {
    cursor: pointer;
  }
}