@import "../../components/ProductsCard/styles.scss";
@import "../../components/ProductsList/styles.scss";
@import "../../components/FilterItem/styles.scss";
@import "../../components/Filter/styles.scss";

#root-app {
  background-color: #ededed;
  display: flex;
  justify-content: center;
}
