@import "../../components/ProductsCard/styles.scss";
@import "../../components/ProductsList/styles.scss";
@import "../../components/FilterItem/styles.scss";
@import "../../components/Filter/styles.scss";
@import "../../components/Pagination/styles.scss";
@import "../../components//SelectProductsPerPage/styles.scss";
@import "../../styles/variables";


#products-page {
  background-color: $gray-base;
  display: flex;
  justify-content: center;

  .products {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


}