@mixin button {
  width: auto;
  padding: 10px;
  border-radius: $border-radius-s;
  border: 0;
  cursor: pointer;

  &--enabled {
    background-color: $blue-base;
    color: rgb(245, 240, 240);

    &:active{
      transform: translateY(2px);
      transition: all 200ms;
    }

  }
  
  &--disabled {
    background-color: $blue-300;
    color: rgba(0, 0, 0, 0.2);
    cursor: auto;
  }
}