@import "./variables";
@import '~@andes/button/index';
@import '~@andes/money-amount/index';
@import '~@andes/dropdown/index';
@import '~@andes/list/index';
@import '~@andes/form/index';
@import '~@andes/textfield/index';

@mixin button {
  width: auto;
  padding: 10px;
  border-radius: $border-radius-s;
  border: 0;
  cursor: pointer;
  background-color: $blue-base;
  color: rgb(245, 240, 240);

  &:enabled:active{
    transform: translateY(2px);
    transition: all 200ms;
  }

  &:disabled {
    background-color: $blue-300;
    color: rgba(0, 0, 0, 0.2);
    cursor: auto;
  }
}