//size
$font-size-s: 16px;
$font-size-m: 20px;

// Font weights
$font-weight-light: 300;
// $font-weight-regular: 400;
// $font-weight-semibold: 600;
// $font-weight-bold: 700;

//border
$border-radius-s: 6px;

//colors

//red
$red-base: #f23d4f;
//blue
$blue-base: rgb(65, 137, 230);
$blue-300: rgba($blue-base, 0.3);
// gray
$gray-base: #ededed; 