@import "../../styles/common";


.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 150px 50px 50px;
  gap: 2rem;

  position: relative;

  &__start {
    position: absolute;
    left: 0px;
  }
}

.button {
  @include button
}