@import '~@andes/typography/index';



@import "../../styles/variables";

.filters {

  max-width: 250px;
  padding-left: 40px;

  &__list {
    &__item {
      list-style: none;
      cursor: pointer;

      &:hover {
        color: $red-base;
      }
    }
  }
}