@import "../../styles/variables";

.filters {
  h3 {
    margin-left: 20px;
  }

  &__availables {
    margin-top: 50px;
  }
  &__list {
    &__item {
      list-style: none;
      cursor: pointer;
      &:hover {
        color: $red-base;
      }
    }
  }
}
