@import "../../styles/variables";
@import "../../styles/common";

.info {
  padding-top: 20px;
  min-width: 30%;
  max-width: 30%;

  &__use,
  &__sold {
    font-weight: $font-weight-light;
    color: $gray-letters;
  }

  h2 {
    font-size: 24px;
    width: 90%;
  }

  &__shipping {
    color: $green-base;
    display: flex;
    align-items: center;

    p {
      margin-left: 3px;
    }
  }
}
