@import "../../components/Checkout/styles.scss";
@import "../../components/InputQuantity/styles.scss";
@import "../../styles/variables";

#root-app {
  background-color: $background;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}