@import "../../styles/variables";
@import "~@andes/money-amount/index";


.checkout {
  max-width: 80%;
  padding: 30px 0px;

  &__title {
    font-size: 32px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 600;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    // text-align: right;

    &__price {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  &__product {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    background-color: $andes-white;
    padding: 60px;

    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__unityprice {
      display: flex;
      font-size: 14px;
      align-items: baseline;
      color: rgba(0, 0, 0, 0.55);
      gap: 5px;
    }

    .image {
      margin-right: 50px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      // margin-top: 30px;
      background-color: $andes-white;
      margin-bottom: 30px;
      padding: 20px;
      font-size: 18px;

      .envio__gratis {
        display: flex;
        gap: 8.7px;

        &--true {
          color: green;
          margin-block-start: 0;
          margin-block-end: 0;
        }

        &__city {
          margin-block-start: 0;
          margin-block-end: 0;
        }
      }

      &__input {
        width: 80px;
      }
    }

    &__alert {
      color: $red-base;
    }

    &__alert {
      color: $red-base;
    }
  }

  .row {
    display: flex;
    align-items: center;
  }

  .column {
    display: flex;
    flex-direction: column;

    h2 {
      margin-right: 40%;
    }
  }
}