@import "../../styles/variables";
@import "../../styles/common";

.input__quantity {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .buy__input,
  .checkout__product__input {
    text-align: center;
    padding: 8px 0;
    width: 100%;

    label span {
      text-align: left;
    }

    &:focus,
    textarea:focus {
      border-style: hidden;
      border-radius: $border-radius-s;
    }
  }
}
