@import "../../styles/variables";
@import '../../styles/common';

.search {
  &__container {
    display: flex;
    justify-content: space-around;

  }

  &__form {
    gap: 12px;
    width: 40%;
    display: flex;
    margin-top: 20vh;

    &__input {
      padding: 0;
      flex-grow: 2;
    }
  }
}