@import "../../styles/variables";
@import "../../styles/common";

#root-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $gray-base;
  font-family: "Proxima Nova";
  padding-top: 5rem;

  section {
    display: flex;
    max-width: 70%;
    min-width: 70%;
    margin: 0rem 0 5rem;
    background-color: $white-base;
    border-radius: $border-radius-s;

    h2 {
      font-weight: $font-weight-semibold;
    }

    p,
    .info__shipping,
    .info__quantity-amount,
    .info__available {
      font-size: 16px;
    }

    .product {
      display: flex;
      flex-direction: column;
      width: 70%;

      h2 {
        font-size: 28px;
        padding-left: 20px;
      }

      p {
        text-align: justify;
        padding: 20px;
        white-space: pre-wrap;
      }
    }

  }
}
