@import '~@andes/dropdown/index';
@import '~@andes/list/index';
@import '~@andes/form/index';

.products__per-page {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: end;

    .products__dropdown {
        min-width: 300px;
    }
}