@import "../../styles/variables";

.filter_section {
  &__name {
    margin-left: 40px;
    cursor: pointer;
  }

  &__list {
    margin-left: 20px;
    &__item {
      width: auto;
      list-style: none;

      a {
        cursor: pointer;
      }
    }
  }
}
