@import "../../styles/variables";
@import "../FilterModal/styles.scss";


.filter__section {
  &__name {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  &__value {
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    width: fit-content;

    .results {
      color: #999;
    }
  }
}